{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "jest",
        "import"
    ],
    "extends": [
        "plugin:import/typescript",
        "airbnb-typescript/base",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "no-console": [
            "warn",
            {
                "allow": [
                    "warn",
                    "info",
                    "error"
                ]
            }
        ],
        "@typescript-eslint/ban-ts-comment": "off",
        "import/no-extraneous-dependencies": "off"
    },
    "env": {
        "browser": true,
        "node": true,
        "jest/globals": true
    }
}