{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "jest",
        "import"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript",
        "prettier",
        "airbnb-typescript/base"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "no-console": 1,
        "prettier/prettier": 2,
        "@typescript-eslint/ban-ts-comment": "off",
        "import/no-extraneous-dependencies": "off"
    },
    "env": {
        "browser": true,
        "node": true,
        "jest/globals": true
    }
}